img {
    width: 100%;
    border-radius: .2em;
}

.Image {
    max-width: 250px;
    max-height: 250px;
    padding: .3em;
}

.ImageList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}