input {
    color: rgb(30,30,30);
    width: 80%;
    min-width: auto;
    max-width: 500px;
    margin: .5em;
}

.SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 800px;
    position: -webkit-sticky;
    position: sticky;
    top:0;

}

button {
    height: 25px;
}
