.About {
    height: 30em;
    overflow: auto;
    background-image: url('/growth-macro-plants-113335.jpg');
    background-size: 100%;
    background-repeat: none;
    color: rgb(0, 0, 146);
    font-weight: 800;
    font-size: 24px;
}