/* .App-logo {
    height: 40vmin;
  } */
  
  /* .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 60px;
  } */

  .NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavBarLink {
    color: darkgrey;
    background-color: white;
    padding: 1em;
  }