  .NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(142, 172, 108);
    padding: .5em;
    padding-bottom: none;
    border-radius: .2em;
    margin-bottom: .5em;

  }

  .NavBarLink {
    color: darkgrey;
    background-color: white;
    padding: 1em;
    height:10px
  }

  .LeftNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  