  .NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(101, 122, 77);
    padding: .3em .9em .3em .9em;
    padding-bottom: none;
    border-radius: .4em;
    margin-bottom: .5em;

  }

  .NavBarLink {
    color: rgb(243,238,242);
    background-color: rgba(255,255,255,0);
    padding: .5em;
    font-weight: 550;
  }

  .NavBarLink:hover {
    color: rgb(108, 108, 245);
  }

  .LeftNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  