.SearchResults {
    height:100%;
    overflow: auto;
    color: rgb(55,55,55);
}

.SearchResult {
    color: rgb(75,75,75);
    display: flex;
    justify-content: space-between;
    margin: .4em;
    background-color: white;
    font-weight: 700;
    font-size: 16px;
    padding: .6em;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    
}

h3 {
    color: rgb(95,95,95)
}

.SearchResult div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Buttons button{
    margin: .3em;
    border-radius: .4em;
    justify-content: center;
}

.plantNames {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    
}
