.SearchResults {
    height:100%;
    overflow: auto;
    color: black;
}

.SearchResult {
    color: black;
    display: flex;
    justify-content: space-between;
    margin: .4em;
    background-color: white;
    font-weight: 700;
    font-size: 16px;
    padding: .3 em;
    align-items: center;
    
}

.Buttons  button{
    margin: .3em;
    border-radius: .4em;
    justify-content: center;
}